body, html {
	margin: auto;
	background-color: black;
	color: #305AE2;
	font-weight: bold;
}

.gameBox {
	padding: 20px;
	min-height: 350px;
	margin: 4% 30% 10% 30%;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #305AE2;
}

hr {
	border-color: #305AE2;
}

.title {
	font-size: 40px;
}

.instructions {
	font-size: 20px;
}

.wins {
	font-size: 16px;
	float: left;
	padding: 20px;
	margin: 20px 20px 20px 50px;
}

.losses {
	font-size: 16px;
	float: right;
	padding: 20px;
	margin: 20px 50px 20px 20px;
}

.guessesLft {
	clear: both;
}

.guessesBox {
	clear: both;
}

.result {
	font-size: 30px;
	clear: both;
}

@media screen and (max-width: 980px) {
	
	.gameBox {
		margin-left: 20%;
		margin-right: 20%;
	}
}

@media screen and (max-width: 768px) {
	
	.gameBox {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media screen and (max-width: 640px) {
	
	.gameBox {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 480px) {
	
	.gameBox {
		margin-left: 1%;
		margin-right: 1%;
	}

	.wins {
	margin-left: 1%;
	margin-right: 1%;
	}

	.losses {
	margin-right: 1%;
	margin-left: 1%;
	}
}